@import '../../../../scss/variables.scss';

.Sidebar {
  width: $sidebarWidthPercent;
  position: fixed;
  top: $headerHeight;
  height: calc(100vh - $headerHeight);
  transition: left $animationDurationMiddle ease,
    opacity $animationDurationFast ease;
  max-width: $sidebarMaxWidth;
  z-index: $zIndexSidebar;
}

.Sidebar__Wrapper {
  box-sizing: border-box;
  padding: 35px 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  transition: height $animationDurationFast;
}

.Sidebar__Icon {
  display: inline-block;
  cursor: pointer;
  display: none;
}

.Sidebar__Title {
  padding-top: 20px;
  font-size: $fontSizeXXL;
  text-transform: uppercase;
}

@media screen and (min-width: $screenWidthTabMax) {
  .Sidebar__Footer {
    display: none;
  }
}

@media screen and (max-width: $screenWidthTabMax) {
  .Sidebar__Wrapper {
    height: var(--sidebar-wrapper-height);
  }

  .Sidebar {
    position: fixed;
    left: -100vw;
    height: 100vh;
    min-width: 300px;
    opacity: 0;
    top: 0px;
    bottom: 0;
    margin-top: 1px;

    background: rgba(247, 247, 247, 0.499);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    &_show {
      opacity: 1;
      left: 0;
    }
  }

  .Sidebar__Icon {
    display: inline-block;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
  }
}
