@import "../../scss/variables.scss";

.Link {
  text-transform: uppercase;
  font-family: "Gotham Pro";
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;

  &:hover {
    text-decoration: underline;
  }

  &_color_primary {
    color: $primaryTextColor;
  }

  &_color_secondary {
    color: $secondaryTextColor;
  }

  &_italic {
    font-family: "Gotham Pro Medium Italic";
  }

  &_size_s {
    font-size: $fontSizeS;
  }

  &_size_m {
    font-size: $fontSizeM;
  }

  &_size_l {
    font-size: $fontSizeL;
  }
}
