.Skeleton {
  background: linear-gradient(
    70deg,
    #dedede,
    #f4f4f4,
    #ffffff,
    #f4f4f4,
    #dedede,
  );
  background-size: 400% 400%;
  border-radius: 2px;
  animation: gradient 1.5s ease infinite;
  width: 100%;
}

.Skeleton__Wrapper {
  opacity: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
