@import '../../scss/variables.scss';

.Layout {
  display: flex;
  flex-flow: column;
  padding-top: $headerHeight;
  width: 100%;
}

.Layout__WrapperContent {
  display: flex;
}

.Layout__Content {
  padding-top: 90px;
  margin-right: 20px;
  margin-left: $sidebarMaxWidth;
  box-sizing: border-box;
}

@media screen and (max-width: $screenWidthTabMax) {
  .Layout {
    padding: $headerHeight 20px 0;
    width: calc(100vw - 40px);
  }

  .Layout__Content {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
