@import '../../scss/variables.scss';

.Main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Main__Item {
  display: flex;
  width: 30%;
  padding-bottom: 40px;
}

@media screen and (max-width: $screenWidthTabMax) {
  .Main {
    justify-content: space-around;
  }
  .Main__Item {
    width: auto;
  }
}

@media screen and (min-width: 810px) and (max-width: $screenWidthTabMax) {
  .Main__Item {
    &:nth-child(1n) {
      padding-right: 5px;
    }
    &:nth-child(2n) {
      padding-left: 5px;
    }
  }
}
