@import '../../scss/variables.scss';

.Main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat( 3, minmax(210px, 1fr) );
  grid-column-gap: 5px;
  grid-row-gap: 40px;
  transition: grid-column-gap $animationDurationFast;
}

.Main__Item {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: $screenWidthMobMax) and (max-width: $screenWidthTabMax) {
  .Main {
    width: 100%;
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: repeat( 2, minmax(110px, 1fr) );
    justify-content: space-between;
  }
}

@media screen and (max-width: $screenWidthMobMax) {
  .Main {
    width: 100%;
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: repeat( 2, minmax(110px, 1fr) );
    justify-content: space-between;
  }
}