@import '../../scss/variables.scss';

.Footer {

  padding: 30px 20px;
  text-align: start;
}

@media screen and (max-width: $screenWidthTabMax) {

  .Footer {
    padding: 40px 0;
    text-align: center;
  }
}

