.Header {
  position: sticky;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  align-items: flex-end;

  &_display_false {
    display: none;
  }
}

.Header__Items {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
