@import "../../scss/variables.scss";

.Header {
  position: sticky;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  align-items: flex-end;

  &_display_false {
    display: none;
  }
}

.Header__Items {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Header__Item {
  &_icon {
    cursor: pointer;
    display: none;
    user-select: none;
    
  
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    -ms-user-select: none;
    -moz-user-select: none;
  }
}


@media screen and (max-width: $screenWidthTabMax) {
  .Header {
    align-items: center;
  }

  .Header__Items {
    align-items: center;
  }

  .Header__Item {
    &_link {
      display: none;
    }
    &_icon {
      display: block;
    }
  }
}