@font-face {
  font-family: 'Gotham Pro';
  src: url(../public/fonts/GothamPro.ttf);
}
@font-face {
  font-family: 'Gotham Pro Medium Italic';
  src: url(../public/fonts/GothamProMediumItalic.ttf);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Gotham Pro';
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Gotham Pro Medium Italic';
  font-weight: 400;
}