@import './scss/variables.scss';

html {
  width: fill-available;
  width: -webkit-fill-available;
  width: -moz-available;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  width: fill-available;
  width: -webkit-fill-available;
  width: -moz-available;
}

#root {
  position: relative;
  max-width: $maxSizeLayout;
}

p {
  padding: 0;
  margin: 0;
}
